DB_HOST=your-host
DB_NAME=your-db
DB_USER=your-user
DB_PASS=your-password
DB_PORT=5432

S3_BUCKET_NAME=your-bucket
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
AWS_REGION=ap-south-1
